.intro-container {
  background-image: url("https://images.unsplash.com/photo-1434056886845-dac89ffe9b56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHdhdGNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-image: url("https://images.unsplash.com/photo-1612817159949-195b6eb9e31a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  /* background-image: url("https://images.unsplash.com/photo-1548171915-e79a380a2a4b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1447&q=80"); */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  backdrop-filter: blur(50px);
}
.intro-container > div {
  text-shadow: 0px 10px 10px 10px #ddd;
  display: flex;
  align-items: center;
  height: 30vh;
  backdrop-filter: brightness(60%);
}
